.list {
  margin-top: 20px;
  padding: 0;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
@media screen and (max-width: 414px) {
  .recommend {
    margin-left: 13px;
  }
}
